@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.App {
  background-color: #00202e;
}

.home {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

.footer-logo {
  width: 35px;
  height: auto;
}
